body{

    background-image: url(images/wall.jpeg);
}
.start{
    background-color: orange;
    width: 50%;
    padding: 40px;
    margin: 20px;
}
.name{
color: dark black;
}
.ghana{
width: 100px;
border-width:150px ;

}